<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.Tong">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".src.third.WithCarPeopleActivity"></activity>
        <activity
            android:name=".src.four.UpdateBusOrderActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".src.four.BusActivity"
            android:launchMode="singleTop" />
        <activity android:name=".src.four.RunningActivity" />
        <activity android:name=".src.four.CheckTicketActivity" />
        <activity android:name=".src.third.MyTripActivity" />
        <activity android:name=".src.four.BuyTicketEndActivity" />
        <activity
            android:name=".src.fifth.ChooseBusMessageActivity"
            android:launchMode="singleTop" />
        <activity android:name=".src.third.DirectionChooseActivity" />
        <activity android:name=".src.third.AdminInterFaceActivity" />
        <activity android:name=".src.index.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".src.OperaActivity" />
        <activity android:name=".src.index.RegisterActivity" />
        <activity android:name=".src.second.MyActivity" />
        <activity
            android:name=".src.third.BuyTicketActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>